.div {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p {
    font-size: 3rem;
    margin-top: -40px;
}

@media screen and (max-width: 600px) { 
    .p {
        font-size: 1.9rem;
        text-align: center;
    }
}

.wait {
    font-size: 1.2rem;
    opacity: .6;
}

ul {
    margin-top: 70px;
    list-style: none;
    display: flex;
    gap: 80px;
}

